#main {margin:50px;}
#map {width:695px;height:532px;border:1px solid #ccc;position:relative;}
.point {position:absolute;height:1px;width:1px;background-color:#c00;border:2px solid #c00;border-radius:4px;}
